[Desktop Entry]
Version=1.1
Type=Application
Name=FEFSS
Name[jp]=FEFSS
Comment=FEFSS
Icon=/home/kakeru/fefss/icon/icon.PNG
Exec=bash /home/kakeru/fefss/menu/shell_menu

Terminal=true
